/* This is the main style sheet ----------------------------------*/

body{
	font-family: 'Oswald', sans-serif;
	color: black;
	font-size: 1em;
	line-height: 1.5;
	width: 90%; /* width 790px */
	margin: 0 auto;	
	background-image: url("../images/bg_image.jpg");
	background-repeat: repeat-x;
}

h1,h2,h3{
	font-family: 'Sonsie One', cursive;	
	text-shadow: 1px 1px 1px #f00
}

h1{
	color: red;
	text-shadow: 4px 4px 4px #aaa;
}

p{
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

ol li{
	list-style-type: none;
	display: inline;
	border-left: solid;
	border-right: solid;
	border-color: red;
	border-width: 1px; 
	font-size: 1.5em;
	padding: .520833%; /* 5px */
	float: left;
}

ol{
	overflow: hidden;
}

ul.b li{
	list-style-type: none;
	float: left;
	padding: 1.041667%; /* 10px */
}

ul.b img{
	border-style: groove;
	border-color: black;
	border-width: 4px;
}

ul.d{
	list-style-type: square;
	background-image: url("../images/jeeplogo.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 25%;
}

nav, .navigation{
	position: absolute;
	top: 0;
	width: 90%; /* width 960px */
	text-align: center;
	
}
section{
	position: relative;
	top: 40px;
}

#sitebranding{
	position: relative;
}

h2{
	position: relative;
	top: 10px;
}

#mods{
	background-image: url("../images/bg_image2.jpg");
	background-repeat: repeat-x;
	clear: left;
}

a:link{
	color: silver;
}

a:active{
	color: red;
}

a:visited{
	background: none;
	color: gray;
}

a:hover{
	background:red;
	color: black;
}

#project{
	opacity: 0.75;
	columns: 3;
	-webkit-columns:100px 3; /* Safari and Chrome */
	-moz-columns:100px 3; /* Firefox */	
}

table{
width: 100%;
}
table, td{
border: 3px solid black;
}

th{
background-color: red;
}

td{
padding:5px;
}

/*=Media Queries
=========================================================*/
/* Tablet Portrait size to standard 960px (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px){
 	article{
 	 font-size: 1em;
	}
	nav, .navigation{
	font-size: 1em;
	position: left;
	}
	p{
	font-size: 1.5em;
	}
}

/* Mobile Landscape size to Mobile Portrait (devices and browsers) */
@media screen and (min-width: 480px) and (max-width: 767px){
	section{
	 position: relative;
	 top: 45px;
	}
	nav, .navigation{
	position: none;
	font-size: .50em;
	}
	ul.d{
	background-image: none;
	}
}

/* Mobile Portrait size to Mobile Landscape Size (devices and browsers) */
@media screen and (max-width: 479px){
	#project{
	 clear: left;
	 columns: 1;
	 -webkit-columns:100px 1; /* Safari and Chrome */
	-moz-columns:100px 1; /* Firefox */	
	}	
	head {
	 display:none
	}
	section{
	 position: relative;
	}
	h1{
	 font-size: 1em;
	 clear:left;
	}
	h2{
	 font-size:1em;
	}
	nav, .navigation{
	 position: none;
	 font-size: 0.55em;
	}
	ul.d{
	 background-image: none;
	}
	#mods{
	 background-image: none;
	}
	body{
	 background-image: none;
	}
	#sitebranding{
	 img: none;
	}
}
